<div class="container-fluid">
    <div class="row">
        <div class="careers_banner">
            <h1 class="careers_text text-center">CAREERS</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h4 class=" g text-center mt-4 pt-4 pb-3">COME WORK <span style="color: #fcc975;">WITH US?</span></h4>
                    <p class="p">First Fiddle is all about innovation, creativity and understanding ever-changing
                    consumer needs. The work environment enables both professional and personal growth.</p>    
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="g text-center mt-4 pb-3">HOW TO <span style="color: #fcc975;">APPLY!</span></h4>
                <p class="p pb-4">First Fiddle is all about innovation, creativity and understanding ever-changing
                consumer needs. The work environment enables both professional and personal growth.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        
    </div>
</div>

<div class="container-fluid pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-4 me-5">
                    <h4 class="e">Steep learning curve</h4>
                    <p class="p pb-5">Talent and merit are rewarded at First Fiddle Restaurants. Add value, and see yourself grow!</p>
    
                    <h4 class="e">Growth opportunities</h4>
                    <p class="p pb-5">Talent and merit are rewarded at First Fiddle Restaurants. Add value, and see yourself grow!</p>
                
                    <h4 class="e">Exciting work environment</h4>
                    <p class="p pb-5">Work in a highly motivated environment with talented people. A positive work environment, ensures a productive and happy you.</p>
                </div>
            </div>

            <div class="col-md-6 shadow-lg ">
                <div class="form mb-4 mt-4 ml-5 ms-3">
                    <span class="send_msg ">Share your Details</span><br><br>
                    <div class="mb-3">
                        <label>Your Name:</label>
                        <input type="text" name="" class="form-control mt-2 " placeholder="Name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label>Your Email:</label>
                        <input type="text" name="" class="form-control mt-2" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label>Your Phone:</label>
                        <input type="text" name="" class="form-control mt-2" placeholder="Phone" required>
                    </div>
                    <div class="mb-3">
                        <label>Your Message:</label>
                        <textarea class="form-control mt-2" placeholder="Message"></textarea>
                    </div>
                    
                    <button class="btn btn-danger mt-4 shadow-lg " style="background:#fcc975; border:0; padding: 12px 26px;">Submit</button>
                </div>
                    
            </div>
        </div>
    </div>
</div>