  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="assets/image/ff-logo-02.png" alt="logo" class="img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a style="color:#fbaa1a;" class="nav-link active" aria-current="page" routerLink="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/brands">BRANDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/Ourteam">OUR TEAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/pressrelease">PRESS RELEASE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLink="/contact">CONTACT</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link " routerLink="/carers">CAREERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="border: 2px solid #fbaa1a;" routerLink="/franschise">FRANCHISE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>