<div class="container-fluid foot pt-4 pb-4 text-white">
    <div class="conntainer pt-5">
        <div class="row">
            <div class="col-md-5 col-sm-5 pl-4 pb-5 text-center" >
                <a href="" ><img src="https://www.firstfiddle.in/assets/images/ff-logo-02.png" style="width:45%;"></a>
            </div>
            <div class="col-md-7 col-sm-7" id="footer_content">
                <h2 class="pb-1" style="font-family: prague;"><span style="color: #ffad00; text-align: justify;">CONTACT </span>US</h2> 
                <p class="text-white" id="para">We're a team focusing on redefining the way the hospitality industry works by bringing in concept based restaurants across India. We are truly committed to catering to the ever-changing cosmopolitan taste of the customer and revolutioning the F & B industry!</p>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <strong style="color: #ffad00;">Address</strong>
                        <p>6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021</p>
                    </div>
                    <div class="col-md-6">
                        <strong style="color: #ffad00;">Franchise Enquiry</strong>
                        <div>Mobile:<span style="color: #ffad00;"> +91 9313663486</span><br></div>
                        <div>Email:<span style="color: #ffad00;"> franchise@firstfiddle.in</span></div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-md-6">
                        <strong style="color: #ffad00;">HR Enquiry</strong>
                        <div>Mobile:<span style="color: #ffad00;"> +91 9999304427</span><br></div>
                        <div>Email:<span style="color: #ffad00;"> careers@firstfiddle.in</span></div>
                    </div>
                    <div class="col-md-6">
                        <strong style="color: #ffad00;">Other Enquiry</strong>
                        <div>Email:<span style="color: #ffad00;"> customercare@firstfiddle.in</span></div>
                    </div>
                </div>
                <div class="row social-icons text-left pb-4">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div> <!-- Row end -->
    </div><!-- container end -->
</div><!-- container-fluid end -->
<div class="container-fluid text-white pt-5 pb-5" style="background:black;">
    <div class="row text-center copyright_text">
        <span>PRIVACY POLICY | TERMS AND CONDITIONS | BLOG</span>
        <span class="mt-2">COPYRIGHT © 2021 FIRST FIDDLE F&B PRIVATE LIMITED</span>
    </div>
</div>