<div class="container-fluid">
    <div class="row">
        <div class="press_release_banner">
            <h1 class="release_content text-center">PRESS RELEASE</h1>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/1.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid ">
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/2.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/3.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>    
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/4.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/5.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/6.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/7.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
        <div class="col-md-3 mt-4" >
            <a href="" class="press_images">
                <img src="https://app.firstfiddle.in/images/FFIMAGES/8.png" width="270px" height="340px" class="img d-block shadow-lg img-fluid">
            </a>
        </div>
    </div>
</div>
