<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD EMPLOYEE</button>
<br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Designation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Rahul</td>
        <td>Shrivastava</td>
        <td>Manager</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Legal Advisor</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Holmes</td>
        <td>Senior Developer</td>
      </tr>
    </tbody>
  </table>

  <!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FILL EMPLOYEE DATA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="form" (ngSubmit)="addblog()"> -->
          <div class="form-group">
            <label for="exampleFormControlInput1" >Title</label>
            <input formControlName="title" class="form-control" id="exampleFormControlInput1" placeholder="Enter the title...">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlInput1" >Body</label>
            <input formControlName="body" class="form-control" id="exampleFormControlInput2" placeholder="Body">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlInput1" >Description</label>
            <input formControlName="description" class="form-control" id="exampleFormControlInput3" placeholder="Description">
          </div><br>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>