<div class="container-fluid">
    <div class="row">
        <div class="about_bannner">
            <h4 class="banner_title text-center">OUR STORY</h4>
        </div>
    </div> <!-- Row end -->
</div><!-- container-fluid end -->

<div class="container-fluid">
	<div class="container mt-4 mb-5">
		<div class="row">
			<h1 class="h1 text-center">ONCE UPON <span style="color: #fbaa1a;">AN AFFAIRE</span></h1>
			<div class="col-md-7 pb-4 mt-3">
				<p class="p">First Fiddle Restaurants, formerly known as The Lazeez Affaire Group,
					was conceived in the year 1999 by Priyank Sukhija and Y.P. Ashok.
					Since then, the company has made a name for itself as innovators
					and leaders in the industry. Starting with their first brand, Lazeez
					Affaire, Priyank popularised the concept of fine dining at a time
					when the same was unheard of. Following its success, First Fiddle
					introduced the concept of casual dining with brands such as
					Warehouse Cafe, Tamasha, Lord of The Drinks, Flying Saucer Cafe,
					and more, storming Delhi’s nightlife. WIth each new brand, First 
					Fiddle brought a concept that was never experienced or heard of before,
					such as Plum by Bent Chair, Miso Sexy, Diablo, and more. The restaurants
					are spread all over India in major metropolitan cities like New Delhi, 
					Mumbai, Pune, Lucknow and more, with plans to expand internationally soon.
				</p>
			</div>
			<div class="col-md-5 mt-md-3">
				<img src="https://www.firstfiddle.in/assets/images/ffabout.png" width="100%" alt=".." class="img-fluid affa shadow-lg text-center ">
			</div>
		</div> <!-- Row end -->
	</div><!-- container end-->
</div><!-- container-fluid end -->

<div class="container-fluid game_banner text-white">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-md-2"></div>
			<div class="col-md-8 text-center pt-5 pb-4">
				<h3 class="h1 text-white">THE GAME CHANGER</h3>
				<p class="game_text text-align">The company is dedicated to being a game changer in the F&B industry with the introduction of ‘concept’ restaurants. It is committed to catering to the ever-changing cosmopolitan taste of its customers & customer satisfaction is an utmost priority.</p>
			</div>
			<div class="col-md-2"></div>
		</div><!-- Row end -->
	</div><!-- container end-->
</div><!-- container-fluid end -->

<div class="container bg-white">
	<h2 class="text-center pt-5" style="letter-spacing: 2px; font-family: prague; font-size: 40px;">THE MAN BEHIND <span style="color:#fbaa1a">THE FIDDLE</span></h2>
	<br>
	<div class="row">
		<div class="col-lg-4 text-center">
			<img src="https://www.firstfiddle.in/assets/images/about/about-priyank.jpg" width="100%" class="img-fluid shadow-lg">
		</div>
		<div class="col-lg-8 text-left">
			<p class="priyanka_content text-justify">With over 30 restaurants in 23 years under his belt, the prolific restaurateur Priyank Sukhija has become somewhat of a legend in the industry, starting his journey at a mere age of 19. Priyank was the first in his family to venture into business, hailing from a family of lawyers, going on to create an empire in F&B. Following his heart and tongue through his F&B career, Priyank has successfully created some of the most talked-about brands in the industry - Diablo, Lord of the Drinks, Plum by Bent Chair, Lazeez Affaire, Tamasha, The Flying Saucer Cafe, and many more.</p>
		</div>
	</div> <!-- Row end -->
 </div> <!-- container end -->

 <div class="container bg-white pb-5">
	<h2 class="text-center pt-5" style="letter-spacing: 2px; font-family: prague; font-size: 40px;">JOIN <span style="color:#fbaa1a">OUR FAMILY</span></h2>
	<br>
	<div class="row">
		<div class="col-md-8 text-left">
			<p class="priyanka_content text-justify">At First Fiddle Restaurants, we leave no stone unturned to provide the most desirable experience across markets and restaurants. Serving over five lakh customers monthly with 15+ brands and 35+ restaurants, our brands like Diablo, Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy, JLWA, and more have revolutionized the experience of dining & nightlife for everyone. Exploring a franchise with First Fiddle Restaurants provides you with a large existing customer base besides the added advantage of nation-wide recognition.</p>
			<div class="row text-center">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<a href="" class="btn btn-success text-center shadow-lg join" style="padding: 10px 20px;">FRANCHISE WITH US</a>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
		<div class="col-md-4 text-center ">
			<img src="https://www.firstfiddle.in/assets/images/about/333X3322.jpg" width="80%" class="img shadow-lg">
		</div>

	</div>
</div>


<h1>{{name}}</h1>
<table class="table table-bordered text-striped table-hover table-responsive table-warning">
    <tr>
        <th>Name:</th>
        <th>age</th>
        <th>email:</th>9puik.nm 
    </tr>
    <tr *ngFor="let d of data">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td>{{d.age}}</td>
        <td>{{d.email}}</td>
    </tr>
</table>
