<div class="my-03">
    <h1>Custom Observable</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex -01 (Manual)</strong>
            <hr>
            <ul>
                <li>Angular</li>
                <li>HTML</li>
                <li>css</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Ex -02 (Custom Internal Observable)</strong>
            <hr>
            <ul>
                <li>Angular</li>
                <li>HTML</li>
                <li>css</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
</div>