<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<!-- <app-carousel></app-carousel> -->
<!-- <app-footer></app-footer> -->
<!-- <app-child [parenttochild]='title'></app-child>
<app-child [student]='students'></app-child> -->
<!-- <app-display-employee></app-display-employee> -->


<!-- Events -->
<!-- <button (click)="showdata()"></button> -->
<!-- <div ng-show="showMe">
    <h1>Menu:</h1>
    <div>Pizza</div>
    <div>Pasta</div>
    <div>Pesce</div>
  </div> -->
<!-- <app-reactive-form-array></app-reactive-form-array> -->

<!-- ================================================ -->
<!-- Data Transfer across components -->
<!-- <app-child [message]="data"></app-child> -->
<!-- <app-child (event)="receiveMessage($event)"></app-child>
<h2 class="text-danger">child saying: {{Childmessage}}</h2> -->
<!-- <app-viewchild></app-viewchild> -->

<!-- ================================================== -->
<!-- //RXJS Series -->
<!-- <app-from-event></app-from-event> -->
<!-- <app-interval></app-interval> -->
<!-- <app-of-from></app-of-from> -->
<!-- <app-to-array></app-to-array> -->
<app-custom></app-custom>