<p>class-binding works!</p>


<div class="container mt-5 text-center">
    <p [ngClass]="'color fontme borderme'">
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
    </p>

    <p [ngClass]="myClass">
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
        pninfosys my company is : pninfosys 25 30 fri feb pninfosys 25 30 fri feb
    </p>
</div>