
<div class="my-3">
    <h2>Of & From</h2>
    <strong>Ex - 01 (OF)</strong>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">List
                        <div class="card-body">
                            <ul id="elcontainer"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">List
                        <div class="card-body">
                            <ul >
                                <li><strong>a : </strong>{{obsmsg.a}}</li>
                                <li><strong>b : </strong>{{obsmsg.b}}</li>
                                <li><strong>c : </strong>{{obsmsg.c}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <strong>Ex - 02 (From)</strong>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="bg-light py-2  border rounded">
                    <strong>Data:</strong> from(['Jon','Aman','Sharma'])
                </p>
                <div class="card">
                    <div class="card-header">Array
                        <div class="card-body">
                            <ul id="elcontainer2"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p class="bg-light py-2  border rounded">
                    <strong> Data:</strong> Promise to observable
                </p>
                <div class="card">
                    <div class="card-header">List
                        <div class="card-body">
                            <ul id="elcontainer4"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p class="bg-light py-2  border rounded">
                    <strong> Data:</strong> String to observable
                </p>
                <div class="card">
                    <div class="card-header">List
                        <div class="card-body">
                            <ul id="elcontainer5"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>