<div class="container-fluid">
    <div class="row">
        <div class="brand_bannner">
            <h4 class="brand_tittle text-center">{{name}}</h4>
        </div>
    </div> <!-- Row end -->
</div><!-- container-fluid end -->

<div class="container">
<div class="row">
    
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-04-700x466.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-07-700x466.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/Untitled-design-min.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/fly-logo-resize-02.png" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-02.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-02-1-700x466.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-01-700x466.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/daddy-logo.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/diablo.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/misosexy_logo.png"  class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4">
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-03-700x466.jpg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/bougie.jpeg" class="d-block w-100 brands_logos">
        </a>
    </div>
    <div class="col-md-4 mt-4" >
        <a href="">
            <img src="https://app.firstfiddle.in/images/logo_image/logo_noche.png" class="d-block w-100 brands_logos">
        </a>
    </div>

</div>
</div>

