.franchise_banner{
    background: url(https://www.firstfiddle.in/franchising-NEW.jpg);
    width: 100%;
    height: 609px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}