<app-carousel></app-carousel>
<!-- Welcomme to First fiddle div -->
<div class="container-fluid mt-4">
	<div class="container">
	<h2 class="text-center a">WELCOME TO <b style="color:#fbaa1a">{{name}}</b></h2>
	<br>
	<div class="row">
		<div class="col-sm-7">
			<p class="p1">First Fiddle Restaurants, one of India’s most prominent F&B companies in the casual dining sector, is headed by Priyank Sukhija. Starting the journey from Lazeez Affair in 1999 to Miso Sexy and Bougie in 2022, we have created wave after wave in the industry with over 30+ restaurants, brands, and franchises across India.</p>
			<div class="row text-center">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<a href="" class="btn btn-success shadow-lg text-center me-4" [routerLink]="['/view/',1]" id="b1">JOIN THE JOURNEY</a>
					<a href="" class="btn btn-info shadow-lg text-center text-white " [routerLink]="['/edit/',2]" id="b1">Edit</a>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
		<div class="col-md-5 text-center ">
			<img src="https://www.firstfiddle.in/assets/images/ffbanner1.jpg" class="pt-sm-5 pt-md-0 img-fluid shadow-lg img" alt="image">
		</div>
	</div><!-- row end -->

	</div><!-- container end -->
</div><!-- container-fluid end -->


<div class="container-fluid banner mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2 class="text-center text-white ml-1 mt-20">MEDIA MENTIONS</h2>
				<p style="color: white; text-align:justify; line-height:40px; letter-spacing: 1px; font-size: 22px;">We’ve been making splashes and headlines since 1999 for our innovative concepts and aesthetic ideations, experimental gastronomic affairs, and exotic mixology. We’ve made our way from the heart of the country into the hearts of its people!
				</p>
				</div>
			<div class="col-md-2"></div>
			<div class="row text-center">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="" class="btn btn-success shadow-lg know text-center" >KNOW MORE</a>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>
	</div><!-- container end -->
</div><!-- container-fluid end -->

<div class="container-fluid bg-white pt-3 pb-3">
	<div class="container">
		<div class="row text-black text-center pb-3">
			<h4>EXPLORE <span style="color: #ffad00;"> OUR BRANDS</span></h4>
		</div>
		<div class="row" >
			<div class="col-sm-3">
				<a href="">
					<img src="https://www.firstfiddle.in/assets/images/explore_brand/lazeez.jpg" height="200px" width="513px" style=" padding: 10px;" class="img-fluid shadow-lg" alt="image">
				</a>
			</div>
			<div class="col-sm-3">
				<a href="">
					<img src="https://www.firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg" height="200px" width="513px" style="padding: 10px;" class="img-fluid shadow-lg" alt="image">
				</a>
			</div>
			<div class="col-sm-3">
				<a href="">
					<img src="https://www.firstfiddle.in/assets/images/explore_brand/openhouse.jpg" height="200px" width="513px" style="padding: 10px;" class="img-fluid shadow-lg" alt="image">
				</a>
				</div>
			<div class="col-sm-3">
				<a href="">
					<img src="https://www.firstfiddle.in/assets/images/explore_brand/plum.jpg" height="200px" width="513px" style="padding: 10px;" class="img-fluid shadow-lg" alt="image">
				</a>

			</div>
		</div>
	</div><!-- container end -->
</div><!-- container-fluid end -->

<div class="container-fluid exp">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2 class="text-center text-white ml-1 mt-20">EXPERIENCE OUR CONCEPTS</h2>
				<p style="color: white; text-align:justify; line-height:40px; letter-spacing: 1px; font-size: 22px;">Moving beyond just offering Indian, international,
					and fusion cuisines, our restaurants create magic with our special events, mood-setting music, Insta-worthy aesthetics, and tongue-tingling signatures! Head over to experience it for yourself!
				</p>
				</div>
			<div class="col-md-2"></div>
			<div class="row text-center">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="" class="btn btn-success shadow-lg know text-center me-4" >KNOW MORE</a>
				</div>
				<div class="col-sm-4"></div>
			</div>
	</div>
</div>